/* Fix bugs */
img,
select {
	max-width: 100%;
}

/* Styleguide */
#styleguide,
#styleguide__body {
	margin: 0;
	padding: 0;
	font-family: 'Helvetica Neue', sans-serif;
	overflow-x: hidden;
	background: #fff;
}

.styleguide__container {
	max-width: 60rem;
	margin: 0 auto;
}

.styleguide__header {
	padding: 1rem;
	background: #fff;
}

.styleguide__content {
	padding: 1rem;
	background: #eee;
}

.styleguide__details {
	padding-right: 3rem;
	max-width: 48rem;
	line-height: 1.5;
}

.el-preview {
	border: 1px dashed #bcbcbc;
	padding: 1rem;
	margin-bottom: -1px;
	color: #333;
}

.el-preview__name {
	font-size: 1.5rem;
	line-height: 1.2;
}

.el-preview__example {
	background: #fff;
	color: #333;
}

.el--inline {
	display: inline-block;
}